<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class=" js flexbox webgl no-touch geolocation hashchange history websockets rgba hsla multiplebgs backgroundsize borderimage textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage applicationcache svg svgclippaths mediaqueries no-regions no-supports" style="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{@blog.title}}</title>

    <meta name="description" content="{{@blog.description}}">

    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JavaScript Libraries -->
    <script type="text/javascript" src="{{@blog.url}}/assets/js/libs/modernizr.custom.min.js"></script>

    <meta name="robots" content="noindex,nofollow">
    <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="{{@blog.url}}/rss">
    <link rel="stylesheet" id="theclassy-stylesheet-css" href="{{@blog.url}}/assets/css/style.css" type="text/css" media="all">

    <!--[if lt IE 9]>
    <link rel='stylesheet' id='theclassy-ie-only-css'  href='{{@blog.url}}/assets/css/ie.css' type='text/css' media='all' />
    <![endif]-->

    <!-- A Stylesheet for custom classes and style overrides -->
    <link rel="stylesheet" id="theclassy-custom-stylesheet-css" href="{{@blog.url}}/assets/css/custom.css" type="text/css" media="all">

    {{ghost_head}}
</head>


<body class="home blog {{body_class}}" style="">

    <div id="container">

        {{> header}}

        {{{body}}}

        {{> footer}}
    </div> <!-- end #container -->

    <!-- The Ghost footer helper will insert some shared javascript libraries and files required by plugins -->
    {{ghost_foot}}

    <!-- Custom Scripts -->
    <script type="text/javascript" src="{{@blog.url}}/assets/js/scripts.js"></script>

    <!-- drop Google Analytics Here -->

    <!-- end analytics -->

<!-- end page. what a ride! -->
</body>
</html>